.mission__container {
    padding: 50px 0;
}

.text__start {
    text-align: start;
}

.text__center {
    text-align: center;
}

.d__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flex__child {
    width: min(300px, 100%);
}

.text__aqua {
    color: rgb(65, 134, 134);
}

.w__30 {
    width: 30%;
}